<div class="log-in-container sub_container form_outside_container">
    <h1 class="mb-5 text-secondary">Log into your account</h1>
    <div class="form-container card border-secondary">
        <form method="post" action="/log-in">
            <div>
                <label class="form-label" for="username">Username: </label>
                <input class="form-control" type="text" id="username" name="username" placeholder="username"/>
            </div>
            <div>
                <label class="form-label" for="password">Password: </label>
                <input class="form-control" type="password" id="password" name="password" placeholder="password"/>
            </div>
            <button class="btn btn-secondary mt-5" type="submit">Create</button>
        </form>
    </div>
</div>